.container{
    width: 1100px;
    margin: 0 auto;
}
.row,
.row::after,
.row::before{
    clear: both;
    display: table;
    width: 100%;
}
.w-10{
    width: calc(100% *10 /12);
}
div[class^="col"]{
    float: left;
    padding: 0 15px;
}
.col-1{
    width: calc(100% / 12);
}
.col-2{
    width: calc(100% * 2 / 12);
}
.col-3{
    width: 25%;
}
.col-4{
    width: calc(100%  * 4 / 12);
}
.col-5{
    width: calc(100% * 5 / 12);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(100% * 7 / 12);
}
.col-8{
    width: calc(100% * 8 / 12);
}
.col-9{
    width: 75%;
}
.col-10{
    width: calc(100% * 10 / 12);
}
.col-11{
    width: calc(100% * 11 / 12);
}
.col-12{
    width: 100%;
}

a,
a:hover, a:focus, a:active, a:link{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
.textright{
    text-align: right;
}
.textcenter{
    text-align: center;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-100{
    margin-bottom: 100px;
}

.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}

.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mr-40{
    margin-right: 40px;
}

.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pl-10{
    padding-left: 10px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
    padding-left: 30px;
}
.pl-40{
    padding-left: 40px;
}

.pr-10{
    padding-right: 10px;
}
.pr-20{
    padding-right: 20px;
}
.pr-30{
    padding-right: 30px;
}
.pr-40{
    padding-right: 40px;
}