*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .hero{
    padding: 45px 0;
     height: 100vh; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg.jpg);
    overflow: hidden;
}
.nav li{
    display: inline-block;
}
.nav li a{
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400px;

    text-transform: uppercase;
    position: relative;
}
.nav li a::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #fff;
    width: 0;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
}
.nav li a:hover::after{
    width: 100%;
}
.cta-info h2{
    font-size:52px ;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.cta-info p{
    font-size:36px ;
    color: #fff;
    margin-bottom: 50px;
}
.cta-info a{

    padding: 13px 50px 13px 35px;
}
.cta-info a i{
    font-size: 45px;
    margin-right: 25px;
    vertical-align: middle;
}*/
.cta-img{
position: relative;
}
.cta-img img{
position: absolute;
right: 0;
}

.hero{
    padding: 45px 0px 0px 0px;
    background-image: url(../images/Untitled-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	overflow:hidden;
}
.navbar li{
    display: inline-block;

}

.navbar li a{
    padding: 10px;
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    
    /* padding: 15px; */
}
.navbar li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 0;  
    cursor: pointer;
    transition: all 0.5s ease-in-out; 
}
.navbar li a:hover::after{
    width: 100%;

}
.cta-info h2{
    font-size:52px ;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 55px;
    padding-top: 100px;      
}
.cta-info p{
    font-size:36px ;
    color: #fff;
    margin-bottom: 50px;   
}
.cta-info a{
    font-size: 18px;
    color:#fff;
    background-color:#282828;
    padding: 13px 50px 13px 35px;
    border-radius: 45px;
    text-transform: uppercase;
	margin-bottom: 70px;
}
.cta-info a i{
    font-size: 45px;
    margin-right: 25px;
    vertical-align: middle;
}


/*-----------------------------------------appfeaturs------------------------------------------------------------------ */

.appfeaturs{
    padding: 90px 0 110px;
}
.featurs h2{
    color: #8a8a8a;
    font-size: 52px;
    margin-bottom: 45px;
    text-transform: uppercase;
}
.featurs p{
    color: #3a3a3a;
    font-size: 22px;
    margin-bottom: 60px;
}
.scalable-img, .instant-img, .something-img{
    margin-bottom: 35px;
}
.scalable-info h2{
    font-size: 24px;
	text-transform:uppercase;
    color: #1a1a1a;
    margin-bottom: 40px;
    font-weight: bold;
}
.scalable-info p{
    color: #646464;
	font-weight:400;
    font-size: 18px;
}


.primary{
    color: #f55150;
}
.secondary{
    color: #fff;
}
.hocolate-info h3{
 font-size: 52px; 
 text-transform: uppercase;
}
.hocolate-cake-section{
    /* height: 100vh; */
    /* width: 100%; */
    background-image: url('../images/hocolat-bac.png');
    /* background-attachment: initial; */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
	padding:195px 0 170px;
}
.hocolate-info h3{
	font-size:52px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	margin-bottom:60px;
}
.hocolate-info p{
	font-size:24px;
	font-weight:400;
	color:#585858;
	width:60%;
	margin-bottom:75px;
}
.hocolate-info a{
	border:2px solid #fff;
	padding:17px 15px;
	border-radius:40px;
	color:#d9332d;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	transition:all 0.5s ease-in-out;
	margin-bottom:170px;
	cursor:pointer;
}
.hocolate-info a:hover{
	color:#fff;
	background-color:#d9332d;
}
.footer{
	background-color:#2e2e38;
	padding:120px 0 150px;
}
.footer-logo img{
	margin-bottom:70px;
}
.footer-list h4{
	font-size:20px;
	font-weight:bold;
	color:#fff;
	margin-bottom:25px;
	text-transform:capitalize;
}
.footer-list ul li{
	display:table;
	width:100%;
	clear:both;
	margin-bottom:25px;
}
.footer-list ul li div{
	float:left;
}
.footer-list ul li .box{
	width:60px;
	height:45px;
	background-color:#d9332d;	
}
.footer-list .fruitcake-info{
	margin:5px 0 0 15px;
}
.fruitcake-info p{
	font-size:15px;
	font-weight:400;
	color:#fff;
}
.tweetr-list .w-75{
	width:75%;
}
.tweetr-list ul li{
	font-size:15px;
	font-weight:400;
	color:#fff;
	margin-bottom:30px;
}
.tweetr-list ul li p{
	font-size:11px;
}
.footer-list .about-info{
	font-size:15px;
	width:75%;
	font-weight:400;
	color:#fff;
	font-style:italic;
}
footer{
	background-color:#d7dedc;
	padding:45px 0;
}
.footer-info-section p, .social-icon{
	display:inline-block;
}
.footer-info-section p a{
	color:#000;
}
.footer-info-section p{
	border-right:2px solid #747877;
	font-size:25px;
	color:#000;
	font-weight:400;
	padding-right:30px;
	margin-right:30px;
}
.social-icon a{
	background-color:#415e9e;
	color:#fff;
	padding:7px;
	width:30px;
	height:30px;
	border-radius:5px;
	margin-right:35px;
}
.social-icon a:nth-child(2){
	background-color:#cd4d81;
}
.social-icon a:last-child{
	background-color:#2e81b6;
}
.social-icon a i{
	font-size:20px;
	
}